
.input{
  outline : none ;
  box-shadow: none !important;
  /* background-image: linear-gradient(to right, #C9FFBF,#FFAFBD); */

  border : none;
  background-color: inherit;
  font-weight: inherit;  
  width:  100%;

  box-sizing: border-box;
  /* border-radius: inherit; */
}
.input:active,.input:focus {
  box-shadow: none;

}
.input:hover{
  /* background-color: rgba(194, 201, 250, 0.4); */
  /* background-color:red; */
  /* z-index:  -1000; */
  /* position: absolute; */
  
 }
 .cell{
  padding : 10px;
  border : none;
  background-color: inherit;
  /* font-weight: inherit; */
  width:  100%;
  box-sizing: border-box;
  border-radius: inherit;
 }

p{
  margin : 0;
  padding : 0;
  font-size: 15px;
  font-weight: 400;
  height: 40px;

  /* overflow-x: auto; */
}

input{
  font-size: 15px;
  font-weight: 400;
  height: 21px;
  padding : 0;
}