

.taskListWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin : 20px 0 50px 0;
  
  background-color: rgb(238, 238, 238,.3) ;
  overflow: auto;
}
.dropableContainer{
  /* border : 3px solid  red ; */
  padding : 5px  ;
}
.taskList{
  display: flex;
  overflow:auto;
  padding: 20px;
  flex-grow: 1;
}
.taskListCol{
  display: flex;
  flex-direction: column;
  border : 2px green solid;
  padding : 5px;
}
.buttonWrapper{
  text-align: center;
  margin : 8px;
  box-shadow: 1px 3px 1px rgba(34, 1, 1, 0.2);
}
.addButton{
  background-color: #FFFFFF;
  box-shadow: none;
  border: none;
  padding : 10px;
  /* text-decoration-color: #FFFFFF; */
 color:  #cdccac  ;
 width: 100%;
}
.addButton:hover{
  background-color:lightgrey ;
  color : black;
  cursor: cell
  /* background-color: rgb(235, 236, 240); */
}
.addColButton{
  background-color:lightgrey ;
  color : black;
  box-shadow: none;
  border: none;
  padding : 10px;
  margin-left : 5px;
  cursor: pointer;

}
.addColButton:hover{
  background-color: #FFFFFF;
  color:  #cdccac  ;
}
.dragging{
  opacity: .5;
}

.colHeaderWrapper{
  margin:  10px;
  font-weight: 900;
  display: flex;
  /* text-align: center; */
  /* position: relative; */
  justify-content: space-between;
  align-items: center;
}
.colHeaderWrapper:hover{
  /* background: rgba(194, 201, 250, 0.4) !important; */
  /* display: block; */

}
.colHeaderWrapper>button{
  border: 0;
  padding :0 8px ;
  height : 30px;
  border-radius: 4px;
}
.colHeaderWrapper:hover>button{
  display: block;
}
.colHeaderWrapper>button:hover{
  background: rgba(2, 2, 22, 0.1) ;
} 
.cellWrapper:hover{
  background: rgba(194, 201, 250, 0.4) !important;
/* background-color:red;
  z-index:  1000;
  position:  relative; */
}


