.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin : 50px;
  background-color: #FAFAFA;
  /* scroll-behavior: auto; */
  overflow: auto;
}
.tableWrapper{
  display: flex;
  flex-direction: column;
}
.table{
  padding : 20px;
  display:flex;
}

.table_col{
  display: flex;
  flex-direction: column;
  padding : 10px 5px 20px 5px;
  background-color: #EBECF0;

}
.table_cell{
  background-color: white ;
 padding : 5px;
 margin : 5px;
 display: flex;
 justify-content: space-between;
}
.table_cell>button{
  border: 0;
  padding :0 8px ;
  /* height : 30px; */
  background-color: white;
  border-radius: 4px;
  height: 100%;
}
.table_cell:hover>button{
  display: block;
}
.table_cell>button:hover{
  background: rgba(2, 2, 22, 0.1) ;
} 
.table_input{
  border : none !important;
  box-shadow: none !important;

}

.table_input:focus{
  box-shadow: none !important;
  border : red !important;
}
.table_input:active{
  box-shadow: white !important;
  border : red !important;
}


.tableColHeader{
  background-color: inherit;
  border: none;
  box-shadow: none !important;
  margin:10px;
  font-weight: bold ;
}
.tableColHeader:focus{
  border: none;
  box-shadow: none !important;
}
.tableColHeader:active{
  border: none;
  box-shadow: none !important;
}



.tableAddCol{
  height: 100%;
  background-color:lightgrey ;
  color : black;
  box-shadow: none;
  border: none;
  padding : 10px;
  margin :5px ;
  width:100%;
}

.tableAddCol:hover{
  background-color: #FFFFFF;
  color:  #cdccac  ;
  cursor: pointer;

}

.tableAddRow{
   background-color:lightgrey ;
  color : black;
  box-shadow: none;
  border: none;
  padding: 10px;
  margin: 20px;
  margin-top: 0 !important;
}
.tableAddRow:hover{
  background-color: #FFFFFF;
  /* color:  black  ; */
  cursor: pointer;

}