.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: linear-gradient(to top left ,#FFA17F,#00223E); */
  
  /* background-image: linear-gradient(to top left ,#a8ff78,#78ffd6 ); */
  /* background-image: linear-gradient(to top left,#F56217,#0B486B ); */

  min-height: 100vh;
}

